/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.context-menu {
    -fx-background-color: #000B38;
}
.text-field {
    -fx-prompt-text-fill: #000b38;
}

.button{
	-fx-background-color: #000b38;
}
.button:hover{     
	-fx-background-color: #76d0aa;
	-fx-text-fill: #000b38;
	-fx-effect: dropshadow( three-pass-box, #b3c2ff, 15, 0.0, 0.0, 0.0);
 	-fx-font-weight:bold; 
 }
 .list-cell:filled{
    
    -fx-background-color: #76d0aa;
}
.list-cell:empty{
	-fx-background-color: #000b38;
}
.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}
