/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

 .dialog-pane{
  -fx-border-color:yellow;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:#000b38;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: #b3c2ff;
   -fx-text-fill:#000b38;
   -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: #000b38;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #b3c2ff;
  -fx-background-radius:10px;
  -fx-text-fill:black;
  -fx-font-size:15.0px;
  -fx-alignment: CENTER;
}


/**Costumization of Buttons**/
.dialog-pane .button{
   -fx-background-color:#b3c2ff;
   -fx-text-fill:#000b38;
   -fx-wrap-text: true;
   -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:#76d0aa;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
 }