/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.circleButton {
	-fx-border-radius: 60;
	-fx-background-color: "#000b38";
}

.taskName {
	-fx-text-fill: "#24a78d";
	-fx-font-size: 24;
	-fx-padding: 8;
}

.taskDue {
	-fx-text-fill: "#24a78d";
	-fx-font-size: 18;
	-fx-padding: 6;
}

.taskNotes {
	-fx-text-fill: "#24a78d";
	-fx-font-size: 14;
	-fx-padding: 4.5;
}

.deleteButton {
	-fx-border-radius: 60;
	-fx-background-color: "#000b38";
}

.backButton {
	-fx-background-color: "#000b38";
}